#form-div{
    padding: 28px 20px;
    max-width: 430px;
    display: flex;
    flex-direction: column;
}

#form-div h2{
    padding-bottom: 13px;
}

.form-element{
    margin-bottom: .8rem;
}

.p-inputtext{
    width: 100%;
}

.p-button{
    width: 150px;
    align-self: center;
}